{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
</head>
<body>
<div class="header">
    <a href="{% url 'archive' %}">
        <img src="{% static 'img/dpb-logo.png' %}" alt="logo">
    </a>
    <a class="all-posts-link" href="{% url 'archive' %}">Все записи</a>
</div>
<div class="content">
    <h1 class="title">{{ post.title }}</h1>
    <div class="info">
        <div class="author">{{ post.author.username }}</div>
        <div class="date">{{ post.created_date }}</div>
    </div>
    <div class="text">{{ post.text|linebreaks }}</div>
</div>
</body>
</html>
